{{ partial "header/site-header.html" . }}
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">

    {{ range first 1 (where .Pages "Section" "feature") }}
          <h1 class="display-4 font-italic"><a href="{{ .Permalink }}" class="text-white font-weight-bold">{{ .Title }}</a></h1>
          <p class="lead my-3">{{ .Params.description }}</p>
          <p class="lead mb-0"><a href="{{ .Permalink }}" class="text-white font-weight-bold">Continue reading...</a></p>
    {{ end }}
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Featured post</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="images/logo.png" alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Post title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src=" images/logo.png" alt="Card image cap">
          </div>
        </div>
      </div>

    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

          <div class="blog-post">
            {{ .Content }}
        </div>

<!--           <nav class="blog-pagination">
            <a class="btn btn-outline-secondary disabled" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav> -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4>About</h4>
            <p class="mb-0">
            	{{ .Site.Params.description }}
            </p>
          </div>

        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{{ partial "footer/site-footer.html" . }}
