{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<ul>
	<li>alt_names
	<ul>
	{{ range .Params.alt_names }}
	    <li>{{ . }}</li>
	{{ end }}
	</ul>
	</li>
	<li>mission_type
	<ul>
	{{ range .Params.mission_type }}
	    <li>{{ . }}</li>
	{{ end }}
	</ul>
	</li>
	<li>operator - {{ .Params.operator }}</li>
	<li>launch_date - {{ .Params.launch_date }}</li>
	<li><a href="{{ .Params.craft_url }}"  target="_blank">Craft Homepage</a></li>
	<li><a href="{{ .Params.wiki_url }}"  target="_blank">Wikipedia Link</a></li>
	<li>status - {{ .Params.status }}</li>
</ul>
{{ end }}
