    </main><!-- /.container -->
    </div>

    <footer class="blog-footer">
      <p>Site design based on a <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> template by <a href="https://twitter.com/mdo"  target="_blank">@mdo</a></p>
<p>Silent Orbit logo created by <a href="http://www.freepik.com" title="Freepik"  target="_blank">Freepik</a> from <a href="https://www.flaticon.com/free-icon/planet-earth_270150" title="Flaticon"  target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>